<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nourish Nest</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="m-0">Nourish Nest</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="/home" class="nav-item nav-link active">Home</a>
                        <a href="/about" class="nav-item nav-link">About</a>
                        <a href="/groceries" class="nav-item nav-link">Groceries</a>
                        <a href="/meals" class="nav-item nav-link">Meals</a>
                        <!-- <a href="/blog" class="nav-item nav-link">Blog</a> -->
                    </div>
                </div>
            </nav>

            <div class="container-xxl py-5 bg-primary hero-header">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-12 text-center">
                            <h1 class="text-white animated slideInDown">About Nourish Nest</h1>
                            <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-4">
                    <div class="mb-4 col-md-12 aboutDiv">
                        <h1 class="aboutHeader">Welcome to Nourish Nest!</h1>
                        <h6 class="aboutHeader6">We are dedicated to promoting holistic well-being through mindful
                            nutrition and meal organization. Our mission is to empower individuals to make informed and
                            healthy choices to support their mental health. </h6>
                    </div>

                    <div class="mb-4 aboutDiv">
                        <h2>Importance of Food Organization</h2>
                        <p>Maintaining a balanced diet is not just about physical health; it profoundly impacts mental
                            well-being. Research shows that a well-organized and nutritious diet positively affects
                            mood, cognitive function, and overall mental health.</p>
                    </div>

                    <div class="mb-4 aboutDiv">
                        <h2>Gut Health and Mental Well-being</h2>
                        <p>The gut-brain connection is a vital aspect of mental health. A healthy gut promotes better
                            digestion, nutrient absorption, and influences the production of neurotransmitters that
                            regulate mood and emotions. We encourage nurturing your gut health through diverse and
                            nutritious foods to enhance your mental clarity and emotional balance.</p>
                    </div>

                    <div class="mb-4 aboutDiv">
                        <h1>How Our App Helps</h1>
                        <h5>Meal Organization:</h5>
                        <p>Simplify meal planning and ensure a well-rounded diet.</p>
                        <h5>Grocery Management:</h5>
                        <p>Keep track of grocery items and make informed choices while shopping. Keep track of groceries
                            expiring so you are able to enjoy them! We know buying groceries when happy is not the same
                            as keeping up to a meal plan when not feeling your best.</p>
                        <h5>Nutritional Insights:</h5>
                        <p>Access nutritional information to make healthier food choices. We update these frequently!
                        </p>
                        <h5>Personalized Experience:</h5>
                        <p>Tailor meal plans based on preferences and dietary needs.</p>
                    </div>


                    <div class="mb-4 aboutDiv">
                        <h3>Disordered Eating</h3>
                        <p>Unfortunately, eating disorders affect a substantial portion of the global population. Eating
                            disorders affect people of all ages, genders, and backgrounds. They are among the most
                            prevalent mental health disorders. An estimated 9% of the worldwide population may suffer
                            from an eating disorder. According to National Eating Disorders Association (NEDA), and the
                            American Psychiatric Association (APA), around 3% to 4% of young women and 1% of young men
                            in the U.S. have anorexia nervosa. Approximately 1% to 1.5% of American women have bulimia
                            nervosa at some point in their lives. Binge Eating Disorder (BED) is the most common eating
                            disorder in the U.S., with around 3% of adults experiencing it at some point. It involves
                            consuming large quantities of food and feeling a lack of control over eating. Eating
                            disorders have one of the highest mortality rates among psychiatric disorders. Anorexia
                            nervosa, in particular, has a high mortality rate, with estimates varying but often reported
                            around 5% to 10%. These disorders not only impact physical health but also severely affect
                            mental well-being.</p>
                    </div>

                    <div class="mb-4 col-md-12 aboutDiv">
                        <h2>Linking Mental Health</h2>
                        <p>There is a strong association between eating disorders and depression. Many individuals with
                            eating disorders experience symptoms of depression.</p>
                        <p>Studies have shown that people with depression are more likely to develop an eating disorder,
                            and individuals with eating disorders are at an increased risk of developing depression.
                            Depression often co-occurs with anorexia nervosa, bulimia nervosa, and binge eating
                            disorder.</p>
                        <p>Anxiety disorders and eating disorders frequently co-occur. Individuals with eating disorders
                            often have symptoms of anxiety. Anxiety can precede the onset of an eating disorder, and
                            individuals with anxiety disorders may be more susceptible to developing an eating disorder.
                        </p>
                        <p>There is also evidence suggesting a connection between ADHD and certain eating disorders,
                            particularly binge eating disorder (BED). Some studies have shown that individuals with ADHD
                            may be at an increased risk of developing eating disorders, especially BED.
                            The relationship between these mental health conditions and eating disorders is complex and
                            multifaceted. They can exacerbate each other's symptoms and create a challenging cycle for
                            individuals affected by both.</p>
                        <h6>Our Commitment</h6>
                        <p>We understand the complexities of food relationships and are committed to providing a
                            supportive environment for individuals seeking to improve their relationship with food. Our
                            app fosters a non-judgmental space, aiming to promote healthy habits and positive attitudes
                            towards nutrition and body image.</p>
                    </div>
                    <div class="mb-4 col-md-12 aboutDiv">
                        <h4 class="mb-4 aboutHeader">
                            Join us on this journey towards a healthier lifestyle, where conscious food choices and
                            mindful eating habits contribute not only to a better body but also a happier mind.</h4>

                        <h4 class="aboutHeader">Start your journey today with Nourish Nest</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Footer Start -->
        <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white h5 mb-4">Address<span></span></p>
                        <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt me-3"></i>774-128-9694</p>
                        <p><i class="fa fa-envelope me-3"></i>nourishnest@nest.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white h5 mb-4">Quick Link<span></span></p>
                        <a class="btn btn-link" href="/about">About Us</a>
                        <a class="btn btn-link" href="">Privacy Policy</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white h5 mb-4">Gallery<span></span></p>
                        <div class="row g-2">
                            <div class="col-4">
                                <img class="img-fluid" src="img/brain-3.png" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="img/amino-acids.png" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="img/brain-gut.jpeg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="img/fiber-img.jpeg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="img/carbs.jpeg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="img/mood-follows-food.png" alt="Image">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white h5 mb-4">Newsletter<span></span></p>
                        <p>Find out how to regulate your gut on this months newsletter brought to you by Dr. Spinner</p>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                                placeholder="Your Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                    class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Nourish Nest</a>, All Right Reserved.

                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="/home">Home</a>
                                <a href="/about">About</a>
                                <a href="/groceries">Groceries</a>
                                <a href="/meals">Meals</a>
                                <a href="/blog">Blog</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="/main.js"></script>
</body>

</html>